// li {
//     display: block;
//     float: left;
// }
// a {
//     display: block;
//     padding: 8px;
// }

// ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
//     width: 60px;
//     background-color: #00a087;
//     margin: 10px;
// }

ul {
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00a087;
    width: 100%; 
    height: px;
    border-top: 100;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    text-align: center;
    font-size: 20px;
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    
}

.card {
    text-align: center;
    margin: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: linear-gradient(to right, #FFFFFF, #dad3cb);
}

.home {
    background-color: white;
}

.error {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: red;
}

.artists {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: clamp(7rem, calc(7rem + 2vw), 7rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: white;
}

.review {
    margin: 3px;
    padding: 3px;
}