// li {
//     display: block;
//     float: left;
// }
// a {
//     display: block;
//     padding: 8px;
// }

// ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
//     width: 60px;
//     background-color: #00a087;
//     margin: 10px;
// }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00a087;
    width: 100%; 
    height: px;
    border-top: 100;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}